
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
//    font-family: 'Titillium Web', sans-serif;
}

@import 'partials/utilities',
        'partials/base',
        'partials/component';




