/* ============================================= */
/*                 Alert                         */
/* ============================================= */

.alert-banner{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 5px;
    margin: 7.5px auto 12.5px;
    color: $white;
    background-color: $color-primary;
    border-radius: 10px;
}

.alert-banner-close{
    cursor: pointer;
}