/* ============================================= */
/*                 Daily Traffic                 */
/* ============================================= */

#daily-traffic {
    border-bottom: solid lightgrey 1px;
    @media screen and (min-width: 768px){
        border-right: solid lightgrey 1px;
    }
}

#daily-traffic-h3 {
    margin: 15px 0 20px 0.5em;
}

.daily-traffic-container {
    margin: 0 10px 10px;
}