/* ============================================= */
/*                    Grid                       */
/* ============================================= */

.grid-container {
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header" 
        "navigation" 
        "main";
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.main {
    grid-area: main;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }
    .main-wrapper {
        display: grid;
        grid-template-columns: 50%;
    }
    #traffic, #social, .main-header-container, .alert-bar, #new-members, #recent-activity, #message, #settings{
        grid-column: 1 / span 2;
    }
    #daily-traffic {
        grid-column: 1 / span 1;
    }
    #mobile {
        grid-column: 2 / span 1;
    }
    .traffic-header {
        display: flex;
        justify-content: space-between;
    }
    .traffic-nav {
        width: 40%;
    }
    #traffic-h3 {
        align-self: center;
    }
}   

@media screen and (min-width: 1024px) {
    #new-members, #message {
        grid-column: 1 / span 1;
    }
    #recent-activity, #settings {
        grid-column: 2 / span 1;
    }
}