/* ============================================= */
/*                 Navigation                    */
/* ============================================= */

#nav-bar {
    background-color: #4D4C72;
    padding: 20px 0;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.nav-item {
    width: 2.75em;
    stroke: $white;
    fill: $white;
}