/* ============================================= */
/*                 Traffic                       */
/* ============================================= */

#traffic {
    border-bottom: solid lightgrey 1px;
}

.traffic-container {
    margin: 0 10px 10px;
}

.traffic-header {
    padding: 15px 0 20px;
}

.traffic-nav-link {
    cursor: pointer;
}

.traffic-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#traffic-h3 {
    margin-bottom: 10px;
    margin-left: 0.5em;
    @media screen and (min-width: 768px) {
        margin-bottom: 0px;
    }
}

.active {
    color: $white;
    height: 2.25rem;
    background: #81C98F;
    border-radius: calc(2.5rem/2);
    padding: 7.5px;
}

@media screen and (min-width: 768px){
    .widget-container-full {
        width: 85vw,
    }
    .widget-container-half {
        width: 42.5vw,
    }
}