/* ============================================= */
/*              Element                      */
/* ============================================= */

h1 {
    color: #fff;
    margin-right: auto;
    margin-left: 5px
}