/* ============================================= */
/*              Element                      */
/* ============================================= */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1 {
    color: $white;
    margin-right: auto;
    padding-left: 10px;
    &::after {
        content: '\2122';
    }
}

h2 {
    padding: 10px;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: $white;
}