/* ============================================= */
/*              Element                      */
/* ============================================= */

h1 {
    color: $white;
    margin-right: auto;
    padding-left: 10px
}

h2 {
    padding: 10px;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: $white;
}